@charset "UTF-8";

@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/2030/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/2030/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppins';
  src: url('../assets/fonts/2030/Poppins-Medium.ttf');
}

body{
  background: linear-gradient(90deg, #35082F 1.22%, #020C1B 100%);
}

.textsection{
color: white;
text-shadow: 0px 4px 8px #8000ff;
width: 900px;
text-align: left;
margin-left: 265px;
}

/* text: latesIssue & About & Team */
.text{
  color: white;
  text-shadow: 0px 4px 8px #FF00C7;
  font-family:'Poppins-Bold';
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-center{
  color: white;
  text-shadow: 0px 4px 8px #FF00C7;
  font-family:'Poppins-Bold';
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
 .text-center p{
  margin-left: 300px;
  
}

.team{
  color: white;
  text-shadow: 0px 4px 8px #FF00C7;
  font-family:'Poppins-Bold';
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.parallax{
  background-image: url('../assets/img/2030/parallax-cover.jpg');
  background-size: cover;
  height: 100vh;
  display: block;
}

.col2{
  color: white;
  text-shadow: 0px 4px 8px #FF00C7;
  font-family:'Poppins-Bold';
  width: 700px;
  margin-left: 650px;
  margin-top: 250px;
}
@media (min-width: 200px)
{
  .col2{
      font-size: 12px !important;
      line-height: 50px;
  }
}
.navbar.scrolled {
  background: linear-gradient(90deg, #35082F 1.22%, #020C1B 100%);
}
.nav-link {
  font-family:'Poppins', sans-serif, medium;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: large;
}

.navbar-toggler-icon {
  background-image: url('../assets/img/2030/HamMenu.png')
}

.dropdown-item{
color: #FF00C7;
}

.dropdown-item:hover{
  color: #FF00C7;
}
a{
  color: white;
  font-family: 'Poppins-Medium';
  font-size: 18px;
}

a:hover {
  color: #ffffff;
  text-shadow: 0px 4px 8px #FF00C7;
}

.navbar a:hover {
  color: white;
  text-shadow: 0px 4px 8px #FF00C7;
}

#mainmenu{
  margin-right: 50px;
}

.navbar-brand{
  font-family: 'Poppins-Bold';
  margin-left: 50px;
  color: white;
  font-family:'Poppins-Bold';
}

#firstNav img{
  transform: scale(0);
}



.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: end;
  justify-content: flex-end;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: linear-gradient(90deg, #35082F 1.22%, #020C1B 100%);
}

.card{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-image: url('../assets/img/2030/body.png');
  background-size: contain;
  border-radius: 4px;
  border: 0px solid rgba(255, 255, 255, 0);  
  padding: 16px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
}

.card-body{
  background: rgba(255, 255, 255, 0.01);
  box-shadow: inset 0px 39px 56px -36px rgba(0, 0, 0, 0.032), inset 0px 21px 56px -36px #ffffff18, inset 0px -82px 68px -64px rgba(255, 186, 186, 0.3), inset 0px 98px 100px -48px rgba(128, 228, 250, 0.3), inset 0px 4px 18px rgba(255, 132, 132, 0.3), inset 0px 1px 40px rgba(194, 122, 249, 0.158);
  backdrop-filter: blur(30px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 4px;
}

.card-img-top{
  filter: blur(0px);
  
  background-position: center;
  background-size: cover;
  margin-top:auto;
  height: 200px;
  width: 100%;
}

.card-title{
  font-size: 24px;
  margin-top: 16px;
  text-transform: uppercase;
}

.card-text{
  color: #fff;
  font-family:'Poppins-Regular';
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform:lowercase;
}

/* Team Card */
#theteam{
width: 1200px;
height: 65vh;
margin-left: 100px;
}

.team img{
  mix-blend-mode: exclusion;
  height: 300px;
}

hr{
  color: transparent;
}

/* style fab */

.fab-styles {
  position: fixed;
  left: 20px;
  top: 70px;
  transform: scale(1);
  }

  .fab-opener {
    background-color:#020C1B;
    border-radius: 32px;
    height: 62px;
    width: 62px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    transition: all 0.1s ease-out;
    margin-bottom: 5px;

  }
  
  .fab-opener:hover {
   box-shadow: 0px 4px 8px #FF00C7;
  
  }

.fab-icon {
  height: 52px;
  width: 52px;
  background-image: url("../assets/img/2030/Logo-2030.png");
  background-size: contain; 
  border-radius: 32px;
}

/*codepen*/

.fab-menu {
  transform: scale(0); /* this makes it invisible when class not open */
}

.btn-fab__action .material-icons {
  font-size: 36px;
  line-height: 1;
}
.fab-menu {
  text-align: right;
}
.fab-menu__item {
  display:block;
  margin-bottom: 5px;
  margin-right: 0;
  padding: 8px 16px;
  border-radius: 20px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.189);

} 

.fab-menu__item:hover {
  color: #FF00C7;
  background: linear-gradient(90deg, #35082F 1.22%, #020C1B 100%)
}

.btn-fab.open .fab-menu {
  transform: scale(1); /* after javascript adds class open this is activated */
}

.btn-fab.open .fab-menu__item {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.2s ease;
}
.btn-fab.open .fab-menu__item:last-child {
  transition-delay: 0.15s; 
}
.btn-fab.open .fab-menu__item:nth-child(2) {
  transition-delay: 0.13s; 
}
.btn-fab.open .fab-menu__item:first-child {
  transition-delay: 0.1s; 
}

/* styles navigation*/

.ic-stickey {
  position: fixed;
  top: 60px;
  left: -250px; /* not good in ox but how to make it responsive? in vh it comes out on a smaller screen */
}
.ic-stickey ul {
  padding: 0px;
  position:fixed;	
/* -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);*/
}
.ic-stickey ul li {
  display: block;
  margin: 5px;    
  color: #35082F;
  background: #ffffff;
  box-shadow: 0px 4px 8px #ff00c87e;
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 0.5s;
  cursor: pointer;

}

.ic-stickey ul li:hover {
  background:#ffffff !important;
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.ic-stickey ul li:hover a {
  color: #FF00C7;
}
/*.ic-stickey ul li:hover i {
  color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
} */

.ic-stickey ul li.s1500:hover i {
  background:#FF00C7;
}
.ic-stickey ul li.s1800:hover i {
  background:#FF00C7;
}
.ic-stickey ul li.XX-1:hover i {
  background:#FF00C7;
}
.ic-stickey ul li.XX-2:hover i {
  background:#FF00C7;
}

.ic-stickey ul li.lateXX-2000:hover i {
  background:#FF00C7;
}

.ic-stickey ul li.lateXX-2030:hover i {
  background:#FF00C7;
}


.ic-stickey ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background: #f4f5eb;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}


#footer {
  height: 0vh;
  background-color: rgb(254, 254, 254);
}

footer .text-center{
  background-image: url('/assets/img/2030/Frame\ 2\ \(2\).jpg');
  background-size: cover;
  text-align: center;

}

footer {
position: relative;
z-index: 9999;
}

.text-center{
  color: white;
  font-family: 'Poppins-Regular';
  text-align: center;
}

#whitecat{
  color: white;
}

/* responsive style nav */

@media screen and (max-width: 992px)
{
  .styles-large  {
    display: none !important;

  }

}

@media screen and (min-width: 992px) {
  .fab-styles {
    display: none ;}
}

/* issue */
.refFrankenstein{
  color: white;
}
p{
  color: rgb(184, 184, 184);
  width: 800px;
  
}
.radio{
  color: white;
}


  .intro {
    font-family: 'Poppins-Bold';
    padding:90px 50px;
    text-align:center;
  }
  
  
  .intro h1 {
    font-family:'Poppins-Bold';
    font-size: 2rem;
    color: #f4f5eb;
    text-shadow: 0px 4px 8px #FF00C7;
  }
  
  .intro p {
      font-family:'Poppins-Bold';
      width: 900px;
      color: #f4f5eb;
      margin-left: 200px;
      font-size: 18px;
      border-bottom: 5px solid transparent;
  }
  
 /* footer */

footer {
  height: 25vh;
  z-index: 1000;
  position: relative;
}

/* ISSUE PAGE */

#hero {
  font-family:'Poppins-Bold';
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3vh;
  padding-bottom:1vh;
  margin-left: 0% !important;
  margin-right: 0% !important;
  flex-wrap: wrap !important;
  width: auto !important;
  height: 300px;
  background-image: url('../assets/img/2030/issuebg.png');
  background-size: cover;
  background-repeat: repeat-x;
  
}

#hero h1 {
  font-family:'Poppins-Bold';
  text-transform: uppercase;
  transform: scale(1.5);
}



#article-content {
  height: 100vh;
  padding-top: 1em;
  padding-right: 1em;
  background-color: transparent;
  position:sticky;
  top: 4em;
} 

/* metadata column */

#metadata-column {
  padding-left:15px;
  padding-right:15px;
  position: sticky;
  top: 4em;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 100vh;
  /* margin-top: 4em;  stops at navbar */
  }

  #metadata-column::-webkit-scrollbar {
    width: 23px;
  }

  #metadata-column::-webkit-scrollbar-track {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
}

  #metadata-column::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #262626, #eaeaea, #262626);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  .wrapper{
    backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-image: url('../assets/img/2030/body.png');
  background-size: contain;
  border-radius: 4px;
  border: 0px solid rgba(255, 255, 255, 0);  
  padding: 16px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  }
  
  .panel {
    margin: 15px;
    margin-top: 15px;
  }
  
  .panel-heading {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0px 39px 56px -36px rgba(0, 0, 0, 0.032), inset 0px 21px 56px -36px #ffffff18, inset 0px -82px 68px -64px rgba(255, 186, 186, 0.3), inset 0px 98px 100px -48px rgba(128, 228, 250, 0.3), inset 0px 4px 18px rgba(255, 132, 132, 0.3), inset 0px 1px 40px rgba(194, 122, 249, 0.158);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 4px;
  }
  
  .panel-title{
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:rgb(255, 255, 255);
    font-family: 'Poppins-Medium';
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
  }
  
  /* arrows accordion*/
  
  .fa-chevron-up {
      transition: all 0.3s ease;
      float:right;
   }
  
  .btn-nav-accordion[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
    float:right;
  }
  
  .btn-nav-accordion.collapsed .fa-chevron-up {
     transform: rotate(180deg);
     float:right;
  }

  /* not sure where is this list cause in the dynamic load of the articles is an id not a class */

.list {
  font-family: 'Poppins-Medium';
  font-size: 16px;
  line-height: 1.2; 
  margin: 0; 
  white-space: nowrap; 
  overflow-x: hidden;
  list-style-position:inside;  
  color: rgb(255, 255, 255) !important;
  }
  
  /*metadata column - article list */
  #list li a {
  font-family: 'Poppins-Medium';
  color: rgb(255, 255, 255) !important;
  margin: 0; 
  text-decoration: none;
  }

  #list li a:hover {
    color: rgb(165, 192, 247) !important;
  }

/*#list li a::before {
  content: '';
  background: url('../assets/img/y2k/holographicstar.png');
  display: inline-block;
  width: 1em;
  height: 1em;
}*/

.list::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */	
  }

/* metadata */

#row1, #row2, #row3 {
  display:block;
  padding:10px;
}

/* button entities in metadata column */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
background-color: transparent !important;
font-weight: bold;
border: 2px solid rgb(255, 255, 255)
} 
blockquote{
  color: white;
}

#file{
  color: white;
  font-family: 'Poppins-Regular';
}

#compare-article {
  overflow-y: auto;
  height: 100vh;
  }
  .col-md-6{
    flex: 0 0 auto;
width: 40%;
  }

.nav-pills .nav-link {
  background-color: transparent;
  border: 4px outset rgb(255, 255, 255)
}

/* tab panes */

.tab-pane {
  font-size: 1.15em;
  min-height: 150px;
  width: 100%;
  display: flex;
}

.tab-pane ul {
  margin-top: 1em;
  list-style: none;
  font-style: italic;
}

#sentenceContent {
  height: 8em;
  overflow-y: auto;
  overflow-x: hidden; 
  margin-top: 0.5em;
 }

 .list-character a {
  color: rgb(255, 255, 255) !important;
 }

/* custom scrollbar */

#sentenceContent::-webkit-scrollbar {
  width: 20px;
}

#sentenceContent::-webkit-scrollbar-track {
  background-color: transparent;
}

#sentenceContent::-webkit-scrollbar-thumb {
  display: none;
}

.myborder {
  border: 1px inset rgb(255, 255, 255);
  padding: 10px;
}

/* highlights style */

.text-person {
  background-color: #700070;
}

.text-character {
  background-color: #005b00;
}
.text-literaryWork {
  background-color: #555500;
}	

.text-concept {
  background-color: #440044;
}

.text-refOther {
  background-color: #454500;
}	

.text-refFrankenstein {
  background-color: #515100;
}	

/* article column */

#title, #title1 {
  font-family:'poppins'
 /*text-transform: uppercase;*/

  background-repeat repeat-y;
  background-size: cover;
  text-align: left !important;
  padding-left: 2em;
}

#main-article {
  margin-right: 0.3em;
  overflow-y:auto;
  height: 100vh;
}

#main-article::-webkit-scrollbar {
  width: 23px;
}

#main-article::-webkit-scrollbar-track {
background-color: transparent;
border-color: rgb(255, 255, 255);
}

#main-article::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #262626, #eaeaea, #262626);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#compare-article {
  overflow-y:auto;  
  height: 100vh;
}

#compare-article::-webkit-scrollbar {
  width: 23px;
}

#compare-article::-webkit-scrollbar-track {
background-color: transparent;
border-color: rgb(255, 255, 255);
}

#compare-article::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #262626, #eaeaea, #262626);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.highlight-in-the-text{
  color: rgb(255, 255, 255);
}



/*DOCUMENTATION*/

#documentation {
  background: linear-gradient(90deg, #35082F 1.22%, #020C1B 100%);
}

.mb-3{
  color: white;
  text-shadow: 0px 4px 8px #FF00C7;
}

#hero-documentation {
  display: none;
}

#navbar-documentation {
   position: sticky;
   top: 4em;
}

#navbar-documentation .navbar-brand {
  font-size: 2em;
  font-family: 'poppins';
  position: relative;
  }

  .nav-pills .nav-link{
    background-color: transparent;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    border: 1px outset rgba(255, 255, 255, 0.124);
    border-radius: 1000px;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent !important;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    border: 1px outset rgba(255, 255, 255, 0.124);
  }

  
#nav-index{
  width:20vw;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-image: url('/assets/img/2030/body\ bg.jpg');
  background-size: contain;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);  
  padding: 16px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  }
  

#nav-index .nav-link {
  border-color: transparent;
  border: none;
}

#main-text {
  margin-top: 4em;
}

/* MEDIA QUERY */

/*nav*/

@media screen and (max-width: 1060px) {
  .navbar-brand {
    transform: scale(0.8)
   }
}

/*cover text*/
@media screen and (max-width: 600px) {
  .col2 .col1 .col3 {
    width: 100%;	
  }
}

@media screen and (max-width: 992px) {
  .col2 .col1 .col3 {
    width: 50%;	
  }
}

@media screen and (max-width: 1270px) {
  .self-defined-grid {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-areas: "cover-left cover-center cover-right";
    grid-template-columns: 0.5fr 2fr 0.5fr;      
  }
  .star {
    transform: scale(20);
    top: 30%;
     }
}

@media screen and (max-height: 600px) {
  #cover-center{
    transform: scale(0.8)  }
}

@media screen and (max-width: 590px) {
  .star{
    transform: scale(0);
 }  
}

@media screen and (max-height: 540px) {
  .self-defined-grid {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-areas: "cover-left cover-center cover-right";
    grid-template-columns: 0fr 3fr 0fr;      
  }

  .star{
    transform: scale(0);
  }
}

/* responsive style nav */

@media screen and (max-width: 992px)
{
  .styles-large  {
    display: none !important;

  }
}

@media screen and (min-width: 992px) {
  .fab-styles {
    display: none ;}
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
  position: relative;
  top: 5em;
  right: 3em;
}
  }




