@charset "UTF-8";

/* GENERAL RULES - DON'T CHANGE IF YOU DON'T WANT TO CHANGE LAYOUT */



h1,h2,h4, .navbar-brand {
  color: white;
}



.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: end;
    justify-content: flex-end;
}

.parallax {
    /* The image used */
    background-image: url("../assets/parallax.jpg") !important;

    display: block; /* for displaying the text*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cover {
    height: 100vh;
} 

#footer {
    height: 25vh;
}

/* the text in the cover (parallax img)*/
.self-defined-grid {
  width: 100%;
  height: inherit;
  display: grid;
  grid-template-areas: "cover-left cover-center cover-right";
  grid-template-columns: 1fr 1fr 1fr;
    
}

#cover-text {
      padding-top: 20vh;
}

#firstNav,
.container-fluid, #hero {
    /* trying to set equal padding for all containers */
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0% !important;
    margin-right: 0% !important;
    flex-wrap: wrap !important;
    width: auto !important;
}

#main-content {
  background-color: #900690;
}

#firstNav {
  height: 4em;
}

#hero {
  height: auto;
  background-color: #cccc00;
  color: black !important;
  padding-top: 10vh;
  text-align: center;
  padding-bottom:3vh;
}


/*questo background non si sa dove cazzo stia*/
.background {
  background-image: url("../assets/img/y2k/skybackground1.png") !important;
  position: fixed;
}


/* jumbotron*/
#title {
	color: white;
}

/* scroll per i due articoli */

#main-article {
  margin-right: 0.3em;
  overflow-y:auto;
  }

#compare-article {
  overflow-y:auto;  
}

#article-content {
  height: 100vh;
  padding-top: 1em;
  padding-right: 1em;
  background-color:rgb(112, 166, 217);
  position:sticky;
  top: 4em;
} 

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: center;
  }

.row {
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 0% !important;
    margin-left: 0% !important;
            }

.row>* {
    padding-left: 0% !important;
    padding-right: 0% !important;
    height:100vh /* only article scroll not entire page*/

}

#row1, #row2, #row3 {
    display:block;
	padding:15px;
}

hr {
    color: white;
}

.card {
    /*border-left: 1px !important;  
    border-right: 1px !important; */      
    border-color:#212529; /*this is the background color from default bootstrap */
    border-radius: 0%;
    background-color: #212529;
} 

.card-body {
    background-color: white;
}
.card-img {
    border-radius: 0%;
}

.btn-info {
    color: white;
    background-color: black;
    border-color: black;
}

/* styles navigation*/

.ic-stickey {
  position: fixed;
  top: 5em;
  left: -250px; /* not good in ox but how to make it responsive? in vh it comes out on a smaller screen */
}
.ic-stickey ul {
  padding: 0px;
  position:fixed;	
/* -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);*/
}
.ic-stickey ul li {
  display: block;
  margin: 5px;
  background: rgba(33,37,41);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 0.5s;
}
.ic-stickey ul li:hover {
  background:rgba(33,37,41) !important;
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.ic-stickey ul li:hover a {
  color: #fff;
}
/*.ic-stickey ul li:hover i {
  color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
} */

.ic-stickey ul li.s1500:hover i {
  background:rgb(205, 74, 13);
}
.ic-stickey ul li.s1800:hover i {
  background:rgb(200, 153, 22);
}
.ic-stickey ul li.XX-1:hover i {
  background:rgb(134, 177, 73);
}
.ic-stickey ul li.XX-2:hover i {
  background:rgb(112, 166, 217);
}

.ic-stickey ul li.lateXX-2000:hover i {
  background:rgb(6, 89, 167);
}

.ic-stickey ul li.lateXX-2030:hover i {
  background:rgb(166, 76, 182);
}


.ic-stickey ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* style fab */

 .fab-styles {
  position: fixed;
  left: 20px;
  top: 60px;
  transform: scale(1);
  }

.fab-opener {
  background-color: cyan;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  transition: all 0.1s ease-out;
  margin-bottom: 5px
}

.fab-opener:hover {
 background-color: rgba(0, 255, 255, 0.536)

}

.fab-icon {
  height: 35px;
  width: 35px;
  margin-left: 3px;
  margin-top: 1px;
}

/*codepen*/

.fab-menu {
  transform: scale(0); /* this makes it invisible when class not open */
}

.btn-fab__action .material-icons {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
.fab-menu {
  text-align: right;
}
.fab-menu__item {
  display:block;
  margin-bottom: 5px;
  margin-right: 0;
  padding: 8px 16px;
  border-radius: 20px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.189);

} 

.btn-fab.open .fab-menu {
  transform: scale(1); /* after javascript adds class open this is activated */
}

.btn-fab.open .fab-menu__item {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.2s ease;
}
.btn-fab.open .fab-menu__item:last-child {
  transition-delay: 0.15s; 
}
.btn-fab.open .fab-menu__item:nth-child(2) {
  transition-delay: 0.13s; 
}
.btn-fab.open .fab-menu__item:first-child {
  transition-delay: 0.1s; 
}

/* css vecchio */


.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    padding-bottom: 1rem;
}

    /* metadata column */
    #metadata-column {
    padding-left:15px;
    padding-right:15px;
    position: sticky;
	  overflow-y: auto;
    overscroll-behavior: contain;
    /* margin-top: 4em;  stops at navbar */
    }
	
	/* Hide scrollbar for Chrome, Safari and Opera 
	#metadata-column::-webkit-scrollbar {
    display: none;
}

Hide scrollbar for IE, Edge and Firefox
     #metadata-column {
  -ms-overflow-style: none;  /* IE and Edge
  scrollbar-width: none;  Firefox 
}
*/

	a {
    color: black;
    text-decoration: underline;
}
	
	.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
	
	
	/* toglie i pallini a lato degli articoli */
	ul {
    list-style-type: none;
	padding-left: 0;
}



    /* == Buttons entities == */
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
    background-color: black !important;
    font-weight: bold;
    } 

    .nav-pills .nav-link {
      background-color: #a8bbbf;
    }

    .myborder {
    border: solid rgb(220,220,220) 1px;
    padding: 10px;
    }
    
    .breath {
    margin-top: 15px;
    }

    .tab-pane {
    font-size: 1.15em;
    min-height: 150px;
    width: 100%;
    display: flex;
	
    }

    .tab-pane ul {
    margin-top: 1em;
    list-style: none;
    font-style: italic;
	
	
    }

     #sentenceContent {
		  height: 8em;
      overflow-y: auto;
		  overflow-x: hidden; 
      margin-top: 0.5em;
	 }

    /* custom scrollbar */
#sentenceContent::-webkit-scrollbar {
  width: 20px;
}

#sentenceContent::-webkit-scrollbar-track {
  background-color: transparent;
}

#sentenceContent::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#sentenceContent::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}









    .text-person {
    background-color: #ffddff;
    }

    .text-character {
    background-color: #ddffdd;
    }
    .text-literaryWork {
    background-color: #ffffdd;
    }	

    .text-concept {
    background-color: #ffddff;
    }

    .text-refOther {
    background-color: #ffffdd;
    }	

    .text-refFrankenstein {
    background-color: #ffffdd;
    }	

    .list {
    font-size: 80%;
    line-height: 1.2; 
    margin: 0; 
    white-space: nowrap; 
    overflow-x: hidden;
    list-style-position:inside;  
    }
    .list a {
    color: black;
    margin: 0; 
    }


    .animate {
    animation-name: bgcolor ;
    animation-duration: 0.75s ; 
    animation-iteration-count: 3;
    animation-fill-mode: backwards;
    }

    @keyframes bgcolor {
    from {
    background-color: #ffffff;
    }

    to {
    background-color: #cccc00;
    }
    }


    .small {
    font-size: 80%;
    line-height: 1.2; 
    margin: 0; 
    }

    .list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */	
    }

.text-center {
  color: black
}

  /* MEDIA QUERY */

/*nav*/

@media screen and (max-width: 1060px) {
  .navbar-brand {
    transform: scale(0.8)
   }
}


/*cover text*/
@media screen and (max-width: 600px) {
  .col2 .col1 .col3 {
    width: 100%;	
  }
}

@media screen and (max-width: 992px) {
  .col2 .col1 .col3 {
    width: 50%;	
  }
}

@media screen and (max-width: 1270px) {
  .self-defined-grid {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-areas: "cover-left cover-center cover-right";
    grid-template-columns: 0.5fr 2fr 0.5fr;      
  }
}


@media screen and (max-height: 600px) {
  #cover-center{
    transform: scale(0.8)  }
}


@media screen and (max-height: 540px) {
  .self-defined-grid {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-areas: "cover-left cover-center cover-right";
    grid-template-columns: 0fr 3fr 0fr;      
  }
}

/* responsive style nav */

@media screen and (max-width: 992px)
{
  .styles-large  {
    display: none !important;

  }

}

@media screen and (min-width: 992px) {
  .fab-styles {
    display: none ;}
}

.wrapper{
  width:100%;
  overflow-y: auto;
}

@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}


.panel {
	background-color: #cccccc;
	margin: 15px;
	margin-top: 0;
}

.panel-heading {
  padding: 0;
	border:0;
}

.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
  color:#555;
  font-size:16px;
  font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}

.panel-title{
	border-bottom: 1px solid black;
}


.fa-chevron-up {
    transition: all 0.3s ease;
	  float:right;
 }
.btn-nav-accordion[aria-expanded="true"] .fa-chevron-down {
  transform: rotate(180deg);
  float:right;
}
.btn-nav-accordion.collapsed .fa-chevron-up {
   transform: rotate(180deg);
   float:right;
}